
@{
    ViewBag.Title = "Text Mining";
}

<h2>Text Mining:

<input type="button"class="btn btn-danger"  value="Start" onclick="location.href='@Url.Action("StartTextMining", "TextMining")'" />

    </h2>