@model ForskningApp.Models.Person

@{
    ViewBag.Title = "Index";
}

    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="~/Scripts/jquery-1.12.4.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>


    <h2>Index</h2>



        <div class="form-horizontal">
            <h4>Ordsky</h4>
            <hr />
            <div>
                <label>PersonSøk</label>
                <input class="form-control" id="searchInput" />
            </div>
            <script>
                $("#searchInput").autocomplete({
                    source: function (request, response) {
                        $.ajax({
                            url: '@Url.Action("getSearchValue", "Search")',
                            dataType: "json",
                            data: { search: $("#searchInput").val() },
                            success: function (data) {
                                response($.map(data, function (item) {
                                    return { label: item.Fornavn, value: item.Fornavn };
                                }));
                            },
                            error: function (xhr, status, error) {
                                alert("Error: Kunne ikke hente data.");
                            }
                        });
                    }
                });
            </script>
            </div>

